body,
.App {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: rgb(227, 229, 212);
  text-align: center;
}

header h1 {
  font-weight: 400;
  margin: 3px;
}

img#head-cat {
  width: 225px;
}

#cash-calculator {
  width: 400px;
}

#tagline {
  width: 300px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#tagline,
#cash-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cash-line {
  margin: 8px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cash-line label {
  text-align: right;
  float: left;
  align-self: center;
}

.cash-line .currency-name {
  float: right;
}

.cash-line input {
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
  padding: 6px 5px;
}

button#calculate {
  color: white;
  background-color: rgb(0, 129, 176);
  border-radius: 5px;
  border: none;
  font-size: 13px;
  height: 28px;
}

button#calculate:hover {
  cursor: pointer;
  background-color: rgb(0, 109, 156);
}

.cash-line input,
button#calculate {
  width: 160px;
  margin-left: 10px;
  box-sizing: border-box;
  margin: 0px 10px;
}

/*
  ---
  Add your custom CSS below this line
  ---
*/

/* Mewla converter */
.cash-line span {
  margin-left: 5px;
  font-size: small;
  text-align: left;
  align-self: center;
}

/* Change Owned */
.customer-change-container {
  width: auto;
  margin: 20px auto;
  background-color: rgba(240, 248, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 0px 5px 0px #ddd9d9;
  border: 2px solid #ddd9d9;
}

.customer-change-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.customer-change-content {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.change-item {
  background-color: #ffffff;
  padding: 10px;
  width: 70px;
  text-align: center;
}

.change-number {
  font-size: 24px;
  font-weight: bold;
}

.cat-fact-container {
  display: block;
  text-align: center;
}

.change-detail {
  font-size: 12px;
  color: #888888;
  margin-top: 5px;
}

.cat-fact-title {
  font-size: 13px;
  margin-bottom: 5px;
  color: #888888;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
